body {
  width: 100%;
  max-width: 50%;
  min-width: 50%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  background-color: #08a4ff;
}

h1 {
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  text-align: center;
}

.lastResult {
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
}

label {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
}

#guessField {
  font-size: 25px;
  margin: 20px;
}

input.submit {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 25px;
}

.guessSubmit {
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  text-align: center;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
